@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.text3 {
    width: 881px;
    height: 57px;
    left: calc(50% - 881px/2 - 0.5px);
    font-family: 'InfinitySans-RegularA1';
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 10%;
    
}

.nickName {
    position: absolute;
    width: 881px;
    height: 92px;
    left: calc(50% - 881px/2 - 0.5px);
    top: calc(50% - 92px/2 + 13px);
    font-family: 'InfinitySans-RegularA1';
    font-weight: normal;
    font-size: 25px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    border: 1px solid #FFFFFF;
    background-color: white;
    border-radius: 20px;
}

.nickName span {
    text-align: center;
    margin: 0 auto;
}

.btn1 {
    position: absolute;
    width: 256px;
    height: 60px;
    top: 78%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-family: 'InfinitySans-RegularA1';
    font-style: normal;
    font-style: unset;
    font-size: 18px;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: aliceblue;
    color: #1e6b7b;
}

.goHome {
    position: absolute;
    width: 256px;
    height: 60px;
    top: 78%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-family: 'InfinitySans-RegularA1';
    font-style: normal;
    font-style: unset;
    font-size: 18px;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: aliceblue;
    color: darkslateblue;
}

.goHome:hover {
    letter-spacing: 2px;
    cursor: pointer;
}

.btn1:hover {
    letter-spacing: 2px;
    cursor: pointer;
}
