@font-face {
  font-family: 'InfinitySans-RegularA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #000000;
}

.text1 {
  position: absolute;
  width: 708px;
  height: 57px;
  left: calc(50% - 708px/2 + 1px);
  top: calc(50% - 57px/2 - 169.5px);
  font-family: 'InfinitySans-RegularA1';
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: white;
  
}

.text2 {
  position: absolute;
  width: 708px;
  height: 57px;
  font-family: 'InfinitySans-RegularA1';
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: white;
  left: calc(50% - 708px/2 + 1px);
  top: calc(50% - 57px/2 + 53.5px);
}

.name {
  position: absolute;
  border: none;
  letter-spacing: 2.2px;
  border-radius: 20px;
  width: 708px;
  height: 64px;
  top: 40%;
  left: 50%;
  font-family: 'InfinitySans-RegularA1';
  font-size: 18px;
  transform: translate(-50%, -50%);
  padding-left: 15px;
}

.locate {
  position: absolute;
  border: none;
  letter-spacing: 2.2px;
  border-radius: 20px;
  width: 708px;
  height: 64px;
  top: 68%;
  left: 50%;
  font-size: 18px;
  font-family: 'InfinitySans-RegularA1';
  transform: translate(-50%, -50%);
  padding-left: 15px;
  box-decoration-break: clone;
}

.create {
  position: absolute;
  width: 256px;
  height: 60px;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'InfinitySans-RegularA1';
  font-style: normal;
  font-size: 15px;
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: aliceblue;
  color: #1e6b7b;
}

.create:hover {
  letter-spacing: 2px;
  cursor: pointer;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}